<% include pratical/header %>
<div class="container">
    <div  class="jumbotron">
        <h1>Landing Page!</h1>
        
        <p>welcome to Yelp Camp</p>
        
        <div>
            <a class="btn btn-primary" href="/index">view our campground</a>
        </div>
    </div>
</div>
<% include pratical/footer %>