<% include ./pratical/header %>

    <div class="container">
        <div align = auto width = 30%>
            <div style="text-align: center">
                <h2>Fill out your new camp ground</h2>
            </div>
            <div style="width: 30%; margin: 0 auto">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="password">    
                        </div>
                        <input class="btn btn-primary btn-block btn-lg form-group" type="submit">
                    </form>
            </div>
        </div>
    </div>

<% include ./pratical/footer %>